{% extends "login.html" %}
{% block heading %}Sign Up{% endblock %}
{% block mid %}
<div class="input-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
</div>
{% endblock %}
{% block confirm %}
<div class="input-group">
    <label for="cnfm-passwd">Password (Confirm)</label>
    <input type="password" id="cnfm-passwd" name="cnfm-passwd" required>
</div>
{% endblock %}
{% block account %}Have an account?<a href="{{url_for('auth.login')}}">Login here</a>{% endblock %}